body{
  background-color: #da0d15;
  color:white;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
}
h2{
  margin: 0 auto;
}
.menu{
width: 80%;
margin: 0 auto;
}
.menu img{
 max-height: 350px;
 display: inline;
}
.banners-desktop img{
  border-radius: 12px;
}
.banners-mobile{
  display: none;
}
.banners-mobile img{
  border-radius: 12px;
}

#more{
  margin: 0 auto;
}
#more2{
  margin: 0 auto;
}
@media (max-width: 425px) {
  .menu img{
    max-width: 350px;
    width: 48%;
  }
  .banners-desktop{
    display: none;
  }
  .banners-mobile{
    display: block;
  }
}
